<div>
<h2>Image registration outputs</h2>
<p>After this job finishes, you will find an output registered image with extension ".ome.tiff", and its respective "_transformation_matrix.csv" 3x3 transformation matrix, inside the output directory defined in the form used to submit this job.</p>
</div>